<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title>Query Formulation</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="/static/logtail.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <script src="/static/vue.js" type="text/javascript"></script>
    <script src="/static/lodash.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="container p-2" id="app">
        <header class="navbar bg-secondary nav-height">
            {{template "sidebar"}}
        </header>
        <div class="divider"></div>
        <div class="panel p-2">
            <h2 style="margin-left: 2%; margin-top: 1%">Query Formulation</h2>
            <div class="panel-body container" style="overflow: hidden">
                <div class="divider"></div>
                <div class="panel-footer">
                    <span v-if="pmidCount == 0" class="text-error">No known relevant PMIDs have been loaded, please set
                        the relevant PMIDs first.</span>
                    <span v-if="pmidCount > 0" class="text-success">Loaded [[pmidCount]] Relevant PMIDs.</span>
                    <div>
                        <span class="span-rg">
                            <strong>
                                Select Query Format
                            </strong>
                            <span style="color: red">
                                *
                            </span>
                            :
                        </span>
                    </div>
                    <select v-model="lang" style="width: 20%" id="lang">
                        <option value="pubmed">Pubmed</option>
                        <option value="medline">Medline</option>
                    </select>
                </div>
                <div class="divider"></div>

                <div class="panel-footer">
                    <button class="btn btn-primary" id="formulate-query" v-on:click="formulate">
                        <i class="icon icon-forward"></i> Formulate
                    </button>
                </div>
                <center><img v-if="init && !ready" style="width: 15%; margin-top: 0"
                        src="/static/Typing-1s-200px.gif" /></center>
                <div class="divider" v-show="init && ready"></div>
                <div v-show="init && ready"
                    style="width: 49%; margin-left: 1%; float: left; border: slateblue 1px solid;">
                    <div style="text-align: center;" v-show="init">
                        <h3>Query With MeSH</h3>
                    </div>
                    <div v-show="init && ready">
                        <textarea style="width: 100%" name="meshQuery" v-model="meshQuery" class="form-input" id="mesh"
                            rows="12"></textarea>
                    </div>
                </div>
                <div v-show="init && ready"
                    style="width: 49%; margin-left: 1%; float: left; border: slateblue 1px solid;">
                    <div style="text-align: center;" v-show="init && ready">
                        <h3>Query Without MeSH</h3>
                    </div>
                    <div v-show="init && ready">
                        <textarea style="width: 100%" name="noMeshQuery" v-model="noMeshQuery" class="form-input"
                            id="nomesh" rows="12"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnusedGlobalSymbols -->
    <script>
        var vm = new Vue({
            delimiters: ["[[", "]]"],
            el: "#app",
            data: {
                lang: "pubmed",
                pmidCount: 0,

                init: false,
                ready: false,

                noMeshQuery: null,
                meshQuery: null,
            },
            methods: {
                loadPMIDs: function () {
                    let self = this;
                    let request = new XMLHttpRequest();
                    request.addEventListener("load", function (ev) {
                        if (ev.currentTarget.status === 200) {
                            var idsRaw = ev.currentTarget.responseText;
                            var ids = JSON.parse(idsRaw);
                            self.pmidCount = ids.length;
                        }
                    });
                    request.open("GET", "/plugin/queryformulation?settings=y", true);
                    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    request.send(null);
                },
                formulate: function () {
                    let self = this;
                    self.init = true;
                    self.ready = false;
                    if (self.lang === "" || self.lang === null) {
                        window.alert("Return Format Is Required.")
                        return;
                    }
                    let request = new XMLHttpRequest();
                    var el = document.getElementById("formulate-query");
                    el.classList.add("loading");
                    request.addEventListener("load", function (ev) {
                        if (ev.currentTarget.status === 200) {
                            self.ready = true;
                            var queriesStr = ev.currentTarget.responseText;
                            var queries = JSON.parse(queriesStr);
                            self.noMeshQuery = queries["Query"][0];
                            self.meshQuery = queries["Query"][1];
                            el.classList.remove("loading");
                        }
                    });
                    request.open("POST", "/plugin/queryformulation?formulate=y", true);
                    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    request.send("&lang=" + self.lang);
                }
            },
            beforeMount: function () {
                this.loadPMIDs()
            }

        })
    </script>
    </body>
</html>