<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Query Formulation</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="/static/logtail.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <script src="/static/vue.js" type="text/javascript"></script>
    <script src="/static/lodash.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="container p-2" id="app">
        <header class="navbar bg-secondary nav-height">
            <section class="navbar-section"><a href="/"><i class="icon icon-arrow-left"></i>back</a></section>
        </header>
        <div class="divider"></div>
        <div class="panel p-2" style="overflow:hidden;">
            <h2 style="margin-left: 2%; margin-top: 1%">Query Formulation</h2>
            <div class="divider" data-content="SET OF RELEVANT STUDY PMIDS"></div><br>
            <div class="panel-body container">
                <span class="span-rg">
                        <strong>
                            Relevant Set of Study PMIDs
                        </strong>
                        <span style="color:red">
                            *
                        </span>
                        :
                    </span> <div class="divider"></div>
                <builder id="seed-builder" v-for="(seed, index) in seeds"
                         :key="seed.id"
                         v-on:add="addSeed"
                         v-on:remove="removeSeed"
                         v-bind:seed="seed"
                         v-bind:index="index"
                         v-bind:last="index==seeds.length-1"></builder>
            </div>
            <span class="span-sm">Use the + and - button above to add or remove relevant study PMIDs.</span>
            <br>
            <a href="#/" v-on:click="clearAll" style="width: 10%">Clear All</a>
            <div class="panel-footer">
                <button class="btn btn-primary" id="formulate-query" v-on:click="formulate">
                    <i class="icon icon-forward"></i> Formulate
                </button>
            </div>
            <div class="divider" v-show="init"></div>
            <div>
                <div style="text-align: center;" v-show="init">
                    <h3>Formulated Query</h3>
                </div>
                <div v-show="init">
                    <textarea style="width: 100%" name="query" v-model="query" class="form-input" id="query"
                        rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-template" id="builder">
        <div class="panel-footer container">
            <input class="form-input" type="text" v-model="seed.pmid" style="width:50%;" id="general-input"/>
            <div class="btn-group">
                <a href="#/" id="remove-seed-from-builder" class="btn btn-action btn-sm" v-on:click="removeSeed"><i class="icon icon-minus"></i></a>
                <a href="#/" id="add-seed-to-builder" class="btn btn-action btn-sm" v-if="last" v-on:click="addSeed"><i class="icon icon-plus"></i></a>
            </div>
        </div>
    </script>
    <!--suppress JSUnusedGlobalSymbols -->
    <script>
        var structuredID = 0;
        Vue.component("builder", {
            delimiters: ["[[", "]]"],
            template: "#builder",
            props: ["index", "last", "seed"],
            data: function () {
                return {
                    id: structuredID++,
                }
            },
            methods: {
                removeSeed: function () {
                    this.$emit("remove", this.$props.index);
                },
                addSeed: function () {
                    this.$emit("add", {
                        pmid: null,
                    })
                },
            }
        });

        var vm = new Vue({
            delimiters: ["[[", "]"],
            el: "#app",
            data: {
                seeds: [{pmid: null}],
                init: true,
                query: "hi",
            },
            methods: {
                formulate: function () {
                    console.log(this.seeds)
                },
                removeSeed: function (index) {
                    this.seeds.splice(index, 1)
                    if (this.seeds.length == 0) {
                        this.seeds.push({pmid: null});
                    }
                },
                addSeed: function (seed) {
                    this.seeds.push(seed)
                },
                clearAll: function () {
                    this.seeds = [{pmid: null}];
                    this.init = false;
                    this.query = null;
                }
            }
        })
    </script>
</body>
</html>