<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Query Formulation</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="/static/logtail.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <script src="/static/vue.js" type="text/javascript"></script>
    <script src="/static/lodash.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="container p-2" id="app">
        <header class="navbar bg-secondary nav-height">
            <section class="navbar-section"><a href="/"><i class="icon icon-arrow-left"></i>back</a></section>
        </header>
        <div class="divider"></div>
        <div class="panel p-2" style="overflow:hidden;">
            <h2 style="margin-left: 2%; margin-top: 1%">Query Formulation</h2>
            <div class="divider" data-content="SET OF RELEVANT STUDY PMIDS"></div><br>
            <div class="panel-body container">
                <span class="span-rg">
                        <strong>
                            Relevant Set of Study PMIDs
                        </strong>
                        <span style="color:red">
                            *
                        </span>
                        : (Separate By Comma)
                    </span> <div class="divider"></div>
                <div class="panel-footer container">
                    <textarea class="form-input" type="text" v-model="seeds" style="width:100%;" id="general-input" rows="5"></textarea>
                </div>
                <br>
                <a href="#/" v-on:click="clearAll" style="width: 10%">Clear All</a>
                <div class="panel-footer">
                    <button class="btn btn-primary" id="formulate-query" v-on:click="formulate">
                        <i class="icon icon-forward"></i> Formulate
                    </button>
                </div>
                <div class="divider" v-show="init"></div>
                <div v-show="init" style="width: 49%; margin-left: 1%; float: left; border: slateblue 1px solid;">
                    <div style="text-align: center;" v-show="init">
                        <h3>Query With MeSH</h3>
                    </div>
                    <div v-show="init">
                        <textarea style="width: 100%" name="meshQuery" v-model="meshQuery" class="form-input" id="mesh"
                                  rows="12"></textarea>
                    </div>
                </div>
                <div v-show="init" style="width: 49%; margin-left: 1%; float: left; border: slateblue 1px solid;">
                    <div style="text-align: center;" v-show="init">
                        <h3>Query Without MeSH</h3>
                    </div>
                    <div v-show="init">
                        <textarea style="width: 100%" name="noMeshQuery" v-model="noMeshQuery" class="form-input" id="nomesh"
                                  rows="12"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnusedGlobalSymbols -->
    <script>
        var vm = new Vue({
            delimiters: ["[[", "]"],
            el: "#app",
            data: {
                seeds: null,
                pmids: null,

                init: false,

                noMeshQuery: null,
                meshQuery: null,
            },
            methods: {
                formulate: function () {
                    let self = this;
                    if (self.seeds === "" || self.seeds === null) {
                        window.alert("Relevant Document PMIDs Are Required.")
                        return;
                    }
                    var seeds = self.seeds;
                    self.pmids = seeds.split(",");
                    // Test code
                    self.meshQuery = seeds;
                    self.noMeshQuery = seeds;
                    self.init = true;
                    // --------------------------
                },
                clearAll: function () {
                    this.seeds = null;
                    this.init = false;
                    this.noMeshQuery = null;
                    this.meshQuery = null;
                    this.pmids = null;
                }
            }
        })
    </script>
</body>
</html>